@import "tailwindcss";

/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #0d1b2a;
  overflow-x: hidden;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #14213d;
}

@theme {
  --font-family-Ubuntu: "Ubuntu", sans-serif;
  --font-family-FiraSans: "Fira Sans", sans-serif;
  --font-family-Poppins: "Poppins", sans-serif;
  --font-family-EduNSWACTCursive: "Edu NSW ACT Cursive", sans-serif;
}
