@import "tailwindcss";

/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #0D1B2A;
  overflow-x: hidden;
}


@theme {
  --font-family-Ubuntu: "Ubuntu", sans-serif;
  --font-family-FiraSans: "Fira Sans", sans-serif;
  --font-family-Poppins: "Poppins", sans-serif;
  --font-family-EduNSWACTCursive: "Edu NSW ACT Cursive", sans-serif;
}
